.buscar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 44em;
	padding-bottom: 3.125em;
	background-image: url('../assets/imgfundo.png');
	background-size: cover;
	text-align: center;
	position: relative;
}

.buscar>div:nth-child(2) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 52.625em;
}

.cabecalho-buscar h1 {
	font-size: 3em;
	color: #1a1a1a;
	margin: 0.75em 0px;
}

.cabecalho-buscar p {
	font-size: 1em;
	color: #717171;
	margin-bottom: 2.5em;
}

.input-buscar {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: rgb(230, 230, 230);
	border: rgb(230, 230, 230);
	padding: 0px 0.625em;
	border-radius: 0.315em;
}

.input-buscar input {
	width: 100%;
	outline: none;
	border: none;
	background-color: rgb(230, 230, 230);
	padding: 1em;
}

.botao-buscar {
	color: #fff;
	background-color: #ea1d2c;
	padding: 1.0625em 2.0625em;
	border-radius: 0.3125em;
	margin-left: 0.625em;
	border: none;
	width: 20em;
}

.botao-buscar:hover {
	background-color: #cc1825;
}

main {
	padding-top: 5em;
}

form>img {
	width: 1em;
	height: 1em;
	margin-top: 1em;
}

.opcoes-pedido {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -12em;
	flex-direction: column;
	align-items: center;
}

.itens-pedido {
	margin: 0.25em 0.125em;
	background-color: #fff;
	color: #717171;
	font-weight: 300;
	font-size: 0.5em;
	border: 1px solid #f2f2f2;
	padding: 1.5em 1.75em;
	border-radius: 6.25em;
	line-height: 1em;
}

#parte1,
#parte2 {
	display: flex;
	flex-direction: row;
}

.separador {
    margin-bottom: 5em;
}

@media only screen and (max-width: 768px) {
	.cabecalho-buscar {
		width: 90%;
		margin: 0 auto;
	}

	.buscar>div:nth-child(2) {
		flex-direction: column;
		width: 100%;
	}

	.botao-buscar {
		margin-left: 0px;
		margin-top: 0.625em;
	}

	.itens-pedido {
		padding: 1em 0.75em;
		font-size: 0.45em;
	}
}