body {
    font-family: "Helvetica", sans-serif;
}

header {
    display: flex;
    background-color: #eb0033;
    color: #fff;
    height: 47em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-top: -1em;
}

.barra {
    display: flex;
    height: 5em;
    position: relative;
}

.menu-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3em;
}

.menu-lista li {
    font-size: 1.25em;
    padding: 1.5em;
    list-style-type: none;
    position: relative;
    white-space: nowrap;
}

.menu-lista li p:hover {
    border-bottom: 2px solid white;
}

.menu-lista li:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-lista li:last-child p {
    margin-left: 0.5em;
}

.barra button {
    color: #eb0033;
    font-size: 1em;
    width: 12em;
    height: 2.75em;
    margin-left: 20em;
    margin-top: 1.25em;
    border-radius: 0.3em;
    border: 1px solid #fff;
}

.barra button:hover {
    background-color: rgb(252, 191, 212);
}

.resumo {
    position: absolute;
    margin-top: 6em;
    margin-left: 6em;
    display: flex;
    flex-direction: row;
}

.resumo #teb {
    width: 46em;
}

.resumo #teb p:first-child {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: -0.0125em;
}

.resumo #teb p:nth-child(2) {
    font-size: 1.5em;
    padding-right: 2em;
}

.resumo button {
    color: #eb0033;
    font-size: 1em;
    width: 15em;
    height: 3.5em;
    border-radius: 0.3em;
    border: 1px solid #fff;
    margin-top: 3em;
}

.resumo button:hover {
    background-color: rgb(252, 191, 212);
}

#hamburguer {
    display: none;
}

#op1 {
    display: none;
    background-color: #fff;
    color: black;
    position: absolute;
    font-size: 0.85em;
    border-radius: 0.3em;
    margin-top: 1em;
    margin-left: 14em;
    z-index: 1;
}

#op2 {
    display: none;
    background-color: #fff;
    color: black;
    position: absolute;
    font-size: 0.85em;
    border-radius: 0.3em;
    margin-top: 1em;
    margin-left: 25em;
    z-index: 1;
}

#op3 {
    display: none;
    background-color: #fff;
    color: black;
    position: absolute;
    font-size: 0.85em;
    border-radius: 0.3em;
    margin-top: 1em;
    margin-left: 38em;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .invisivel {
        display: none;
    }

    .invisivel img {
        display: none;
    }

    .invisivel p {
        display: none;
    }


    #hamburguer {
        display: block;
        margin-top: 2.25em;
        margin-left: 7em;
    }

    header {
        height: 62em;
    }

    .barra button {
        font-size: 0.7em;
        margin-left: -1em;
        margin-top: 2.5em;
    }

    .menu-lista li:first-child img {
        width: 2em;
        height: 2em;
        margin-top: 1em;
        margin-left: -4em;
    }

    .resumo {
        flex-direction: column-reverse;
    }

    .resumo img {
        width: 25em;
        margin-left: -2.25em;
    }

    .resumo #teb p:first-child {
        font-size: 2em;
        padding-right: 10em;
        margin-left: -4em;
        text-align: center;
    }

    .resumo #teb p:nth-child(2) {
        font-size: 1.15em;
        margin-left: -4em;
        padding-right: 21em;
        text-align: center;
    }

    .resumo button {
        margin-left: 2em;
    }

    .barra .botao {
        display: none;
    }

    .menu-visivel {
        margin-left: -0.5em;
        margin-top: -0.5em;
        background-color: #fff;
        width: 29em;
        height: 28em;
        z-index: 1;
        color: black;
    }

    .menu-visivel .invisivel {
        display: block;
        padding: 1em;
    }

    .menu-visivel.menu-lista {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2.3em;
    }

    .menu-visivel#hamburguer {
        color: black;
    }
}